In [7]:
import pandas as pd
import random

# READING DATAFRAME

In [8]:
df = pd.read_csv("ds_salaries.csv")
print(df)

      work_year experience_level employment_type                 job_title  \
0          2023               SE              FT  Principal Data Scientist
1          2023               MI              CT               ML Engineer
2          2023               MI              CT               ML Engineer
3          2023               SE              FT            Data Scientist
4          2023               SE              FT            Data Scientist
...         ...              ...             ...                       ...
3750       2020               SE              FT            Data Scientist
3751       2021               MI              FT  Principal Data Scientist
3752       2020               EN              FT            Data Scientist
3753       2020               EN              CT     Business Data Analyst
3754       2021               SE              FT      Data Science Manager

       salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0       80000             EUR          85847                 ES           100
1       30000             USD          30000                 US           100
2       25500             USD          25500                 US           100
3      175000             USD         175000                 CA           100
4      120000             USD         120000                 CA           100
...       ...             ...            ...                ...           ...
3750   412000             USD         412000                 US           100
3751   151000             USD         151000                 US           100
3752   105000             USD         105000                 US           100
3753   100000             USD         100000                 US           100
3754  7000000             INR          94665                 IN            50

     company_location company_size
0                  ES            L
1                  US            S
2                  US            S
3                  CA            M
4                  CA            M
...               ...          ...
3750               US            L
3751               US            L
3752               US            S
3753               US            L
3754               IN            L

[3755 rows x 11 columns]

In [19]:
def determine_gender(salary):
    if salary > 70000:  # Placeholder value, adjust as per your data
        return "Male"
    else:
        return "Female"


# Define a function to determine age group based on experience_level
def determine_age(experience_level):
    if experience_level == "SE":
        return random.randint(35, 45)  # Random age between 35 and 50 for SE
    elif experience_level == "EX":
        return random.randint(45, 60)
    elif experience_level == "MI":
        return random.randint(25, 35)  # Random age between 25 and 35 for MI
    elif experience_level == "EN":
        return random.randint(18, 25)  # Random age between 18 and 25 for EN
    else:
        return None  


df['gender'] = df['salary_in_usd'].apply(determine_gender)
df['age'] = df['experience_level'].apply(determine_age)

In [20]:
print(df.age)

0       60.0
1       33.0
2       33.0
3       72.0
4       61.0
        ...
3750    53.0
3751    26.0
3752    18.0
3753    20.0
3754    59.0
Name: age, Length: 3755, dtype: float64

# DATA CLEANING

In [23]:
df.experience_level.value_counts()

experience_level
SE    2516
MI     805
EN     320
EX     114
Name: count, dtype: int64

In [21]:
df.isnull().sum()

work_year               0
experience_level        0
employment_type         0
job_title               0
salary                  0
salary_currency         0
salary_in_usd           0
employee_residence      0
remote_ratio            0
company_location        0
company_size            0
gender                  0
age                   114
dtype: int64

In [17]:
print('there are',df.isnull().sum(),'missing values')
print('there are',df.duplicated().sum(),'duplicated values')

there are work_year               0
experience_level        0
employment_type         0
job_title               0
salary                  0
salary_currency         0
salary_in_usd           0
employee_residence      0
remote_ratio            0
company_location        0
company_size            0
gender                  0
age                   114
dtype: int64 missing values
there are 197 duplicated values

In [16]:
df_final = df.drop_duplicates()